.menu_layout{
	display: block; 
	width: 15%;
	min-width: 15rem;
	height: 100%; 
	float: left; 
	background-color: DodgerBlue; 
	position:fixed;
}
.content{
	display: block; 
	float: left;
	clear:both;
	font-size: 1.35rem; 
	font-family: 微软雅黑;
	margin-left: 15%;
	width:85%;
	color: black; 
	position:absolute;
}
img.profile{
	width:8rem ;
	height: 8rem; 
	border-radius: 50%; 
	overflow: hidden; 
	border-style: solid; 
	border-width: 0.3rem; 
	border-color: whiteSmoke;
}
p.menu {
	font-size: 1.5rem; 
	font-family: 微软雅黑;
	color: white; 
	line-height:8rem; 
	text-align:center;
	margin : 0rem; 
	outline-width: 0rem;
}
p.menu.chosen {
	background-color: #2AA0FF;
}

.icon {
    width: 1.2rem; 
    margin: 0rem 1rem 0.2rem 0rem;
}

a{text-decoration:none;}

body{padding:0; margin:0;}