<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>面试场次安排</title>
    <link rel="shortcut icon" type="image/x-icon" href="../icon/logo.png" media="screen" />
    <link rel="stylesheet" type="text/css" href="../menusheet.css" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <style type="text/css">
        p.notice{
             background-color: white;
             font-family: 微软雅黑；
             font-size: 10px;
             height : 150px;
             padding: 0px;
             margin: 1px 0px;
        }
        a:hover{text-decoration: none;}
    </style>
    <script type="text/javascript">
    window.onload=
    function(){
        var oDiv = document.getElementById("sidemenu"),
        H = 0,
        Y = oDiv;
        while (Y) {H += Y.offsetTop; Y = Y.offsetParent}
        window.onscroll = function()
        {
            var s = document.body.scrollTop || document.documentElement.scrollTop;
            alert ('sigh');
            if(s>H) {
            oDiv.style = "position:fixed;top:0;"
        }
        else {
            oDiv.style = "position:absolute;"
        }
    }
    }
    </script>

</head>

<body>
<nav class="navbar navbar-default" role="navigation" style = "line-height: 1rem; margin:0rem;">
<div class="container-fluid" > 
<div class = "col-xs-0 col-sm-5">&nbsp</div>
    <div class="navbar-text" style = "font-size: 1.7rem;">
         <p>SAU面试场次自动安排系统</p>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span>帮助</a></li>
        <li><a href="../notice.html"><span class="glyphicon glyphicon-arrow-left"></span>返回主界面</a></li>
    </ul>
</div>
</nav>

<div class = "menu_layout" ID = "sidemenu">
<a href="overview.html"><p class = "menu" style="line-height: 12rem;"><span class="glyphicon glyphicon-eye-open"/> 面试概览</p></a>
<a href="input.html"><p class = "menu" style="line-height: 12rem;"><span class="glyphicon glyphicon-pencil"/> 信息录入</p></a>
<a href="arrange.html"><p class = "menu" style="line-height: 12rem;"><span class="glyphicon glyphicon-list-alt"/> 场次安排</p></a>
<a href="adjust.html" ><p class = "menu chosen" style="line-height: 12rem;"><span class="glyphicon glyphicon-refresh"/> 批量调整</p></a>
</div>

<div class = "content"  style = "background-color:whiteSmoke">
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


</div>
</body>

</html>
